body {
    background-color: rgba(0, 255, 255, 0.066);


}  

    /* FLEXBOX   

    justify-content - controla como os itens são alinhados horizontalmente dentro do conteiner flex, quando a direção principal é horizontal (padrão: now)


    Flex-start: alinhar os itens á esquerda
    center: Centralizar os itens horizontalmente
    flex-end: alinhar os itens á direita
    Space=betwween: Espaçi igual entre os itens, o primeiro á esquerda e o último á direita
    Space-around: Espaço igual ao redor de cada item (meio termmo entre os itens é maior)
    Space-evenly: Espaço exatamente igual entre todos itens
    (inclusive nas bordas)
    */


        /*Align-itens 
        flex-start: alinha os itens no topo
        center: Centraliza verticalmente
        Flex-end: alinha os itens na parte inferior
        stretch: estica os itens para ocupar toda a largura
        baseline: alinha com base na linha base do texto interno */




        /* flex direction
            row: Alinha os itens de esquerda para a direita
            row-reverse: da direita para a esquerda
            column: de cima para baixo
            column-reverse:de baixo para cima */





 .container {
    display: flex;
    justify-content: space-around;  /*flex-start,flex end, space-between, sace-around, space-evenly */
    align-items: center; /*flex-start, flex-end e centert */
    flex-direction: column; /*row, row-reverse, column, column-reverse */
    background-color: gainsboro;
    width: 500px;
    height: 500px;
 }           

 .box{
    background-color: aquamarine;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);


 }